{
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "vue/html-closing-bracket-spacing": [
    "error",
    {
      "startTag": "always",
      "endTag": "always",
      "selfClosingTag": "always"
    }
  ]
}
